In [53]:
import numpy as np
import pandas as pd

df=pd.read_csv('Titanic.csv')

In [54]:
df.fillna(df.mean(),inplace=True)

C:\Users\bt3222\AppData\Local\Temp\ipykernel_8812\2085774198.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.fillna(df.mean(),inplace=True)

In [55]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [56]:
cols= len(df.columns)-1
cols

11

In [57]:
from sklearn.model_selection import train_test_split

columns = df.columns
length = len(columns) - 1
X= df.iloc[:,0:length]
Y= df.iloc[:,length]

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, random_state=42, shuffle=True)

In [58]:
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import seaborn as sns
import math
from collections import Counter

In [63]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from collections import Counter
import math

class DecisionTree:
    def __init__(self):
        self.tree = None

    def entropy(self, data, target_attr):
        values = [row[target_attr] for row in data]
        counts = Counter(values)
        total = len(values)
        return -sum((count / total) * math.log2(count / total) for count in counts.values() if count > 0)

    def information_gain(self, data, target_attr, attr):
        total_entropy = self.entropy(data, target_attr)
        values = set(row[attr] for row in data)
        subset_entropy = 0
        for value in values:
            subset = [row for row in data if row[attr] == value]
            weight = len(subset) / len(data)
            subset_entropy += weight * self.entropy(subset, target_attr)
        return total_entropy - subset_entropy

    def best_attribute(self, data, attributes, target_attr):
        gains = {attr: self.information_gain(data, target_attr, attr) for attr in attributes}
        return max(gains, key=gains.get)

    def build_tree(self, data, attributes, target_attr):
        target_values = [row[target_attr] for row in data]
        if len(set(target_values)) == 1:
            return target_values[0]
        if not attributes:
            return Counter(target_values).most_common(1)[0][0]
        best_attr = self.best_attribute(data, attributes, target_attr)
        tree = {best_attr: {}}
        attr_values = set(row[best_attr] for row in data)
        for value in attr_values:
            subset = [row for row in data if row[best_attr] == value]
            if subset:
                subtree = self.build_tree(subset, [attr for attr in attributes if attr != best_attr], target_attr)
                tree[best_attr][value] = subtree
            else:
                tree[best_attr][value] = Counter(target_values).most_common(1)[0][0]
        return tree

    def fit(self, data, target_attr):
        attributes = list(data[0].keys())
        attributes.remove(target_attr)
        self.tree = self.build_tree(data, attributes, target_attr)

    def predict(self, sample):
        tree = self.tree
        while isinstance(tree, dict):
            attr = next(iter(tree))
            if sample[attr] in tree[attr]:
                tree = tree[attr][sample[attr]]
            else:
                return None
        return tree

Accuracy : 0.0

In [68]:
# Load Titanic dataset and preprocess
data = pd.read_csv('titanic.csv')
data = data[['Survived','Embarked', 'Pclass', 'Sex', 'Age']]  # Select relevant features
data = data.dropna()

data['Sex'] = data['Sex'].map({'male': 0, 'female': 1})
data['Embarked'] = data['Embarked'].map({'S': 0, 'C': 1, 'Q': 2})
data['Age'] = data['Age'].astype(int)

data
data = data.to_dict(orient='records')
target = 'Embarked'
train_data, test_data = train_test_split(data, test_size=0.2, random_state=42)

dt = DecisionTree()
dt.fit(train_data, target)

predictions = [dt.predict(row) for row in test_data]
y_true = [row[target] for row in test_data]

correct =0
for i in predictions:
    print(f"{i}")
    if i == y_true:
        correct +=1

accuracy = correct/len(y_true)

print(f"Accuracy : {accuracy}")

1
1
0
1
0
None
None
1
0
0
0
None
0
0
None
0
1
0
0
0
0
0
None
0
0
0
0
2
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
1
0
0
0
0
0
None
0
1
0
1
1
0
0
0
0
None
0
1
0
0
0
0
0
0
0
0
0
0
1
0
None
None
1
0
0
0
1
None
0
0
0
0
0
0
0
0
0
0
0
0
1
0
1
0
0
0
1
1
0
0
0
1
0
0
0
None
0
0
0
0
0
1
None
0
0
0
0
2
0
0
0
0
0
0
1
0
2
0
0
0
0
0
0
0
1
0
0
Accuracy : 0.0

In [60]:
class BaggingDecisionTree:

SyntaxError: incomplete input (1996957016.py, line 2)