In [ ]:
import numpy as np
import pandas as pd

from pandas import DataFrame, Series

In [ ]:
df =pd.read_csv('Boston.csv')

s1=Series(range(0,4))
s2=Series(range(1,5))

s3=s1+s2

print(f"{s3.index}")

In [ ]:
df.iloc[:,[0,2]]

In [ ]:
df.head()

In [ ]:
df.sort_values(["Distance to Employment Centres"],ascending=False)

In [ ]:
df.sort_values(["Distance to Employment Centres","Crime Rate"],ascending=[0,1],inplace=True)
df.loc[:,["Distance to Employment Centres","Crime Rate"]]

In [ ]:
df["Distance to Employment Centres"]=2.1
df["Distance to Employment Centres"]

In [ ]:
# df.drop(columns=["Residential Proportion","Charles River","Prior Built Units Proportion","Radial Highways Distance"],inplace=True)
df.head()

In [ ]:
# df.rename(columns={'Distance to Employment Centres':'office distance','NO2 concentration':"no2"},inplace=True)
# df.head()

In [ ]:
df[df["Residential Proportion"]>50][['Charles River','Crime Rate']]

In [ ]:
hero = lambda x: 'true' if x>50 else 'false'
hero(10)

In [ ]:
df.head()

In [ ]:
df.rename(columns={'Crime Rate':'crime'},inplace=True)

In [ ]:
len(df[df['crime']>0.1])

In [ ]:
df['isSafe']=df['crime'].apply(lambda x: 'Danger' if x>0.1 else 'Safe')
df.head()

In [ ]:
for i in range(len(df.columns)):
    c=df.columns[i]
    print(f"{c} :null count {sum(df[c].isnull())}")

In [ ]:
df.loc[1]['crime']=np.nan
# df['crime'].fillna(df['crime'].mean(),inplace=True)

df.head()

In [ ]:
df.dropna(subset=['crime'],inplace=True)

In [22]:
df.head()

,crime,Residential Proportion,non-retail business acres/Town,Charles River,NO2 concentration,Average Rooms/Dwelling.,Prior Built Units Proportion,Distance to Employment Centres,Radial Highways Distance,ValueProperty/tax rate,Teacher/town,blacks/town,Lower Status Percent,median home price,isSafe
353,0.01709,90.0,2.02,0,0.410,6.728,36.1,2.1,5,187,17.0,384.46,4.50,30.1,Safe
352,0.07244,60.0,1.69,0,0.411,5.884,18.5,2.1,4,411,18.3,392.33,7.79,18.6,Safe
351,0.07950,60.0,1.69,0,0.411,6.579,35.9,2.1,4,411,18.3,370.78,5.49,24.1,Safe
354,0.04301,80.0,1.91,0,0.413,5.663,21.9,2.1,4,334,22.0,382.80,8.05,18.2,Safe
355,0.10659,80.0,1.91,0,0.413,5.936,19.5,2.1,4,334,22.0,376.04,5.57,20.6,Danger

In [28]:
df.groupby('crime')['crime'].sum()

crime
0.00632      0.00632
0.00906      0.00906
0.01096      0.01096
0.01301      0.01301
0.01311      0.01311
              ...
45.74610    45.74610
51.13580    51.13580
67.92080    67.92080
73.53410    73.53410
88.97620    88.97620
Name: crime, Length: 504, dtype: float64